li {
    list-style: none;
}

.links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

address {
    font-style: normal;
}

h1 {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: #4D5AE5;
}

button {
    cursor: pointer;
    font-family: inherit;
}


.links:hover,
.links:focus {
    color: #404BBF;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #f4f4fd;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.general {
    background-color: #2e2f42;
}

.title-general {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-general {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button-general:hover
.button-general:focus {
    background-color: #404BBF;
}

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.title-team,
.title-portfolio,
.title-treats
 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.item-team {
    background-color: #FFFFFF;
}

 p .content {
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}